:root {
  --main-text: #fff;
  --main-bg: #1b1b1b;
}

html {
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('./assets//bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.form-control {
  padding: 15px 10px !important;
  background: rgba(27,27,27,0.5) !important;
  border: none !important;
  backdrop-filter: blur(5px);
  color: var(--main-text) !important;
  font-size: 18px !important;
  transition: all .25s ease-in-out !important;
}

.form-control::placeholder {
  color: var(--main-text) !important;
}

.form-control:focus {
  box-shadow: none !important;
  background: rgba(27,27,27,1) !important;
}

button {
  padding: 15px 10px !important;
  font-weight: bold !important;
}

.btn-add, .btn-edit {
  background-color: #1b1b1b !important;
  border: 1px solid #1b1b1b !important;
  transition: all .25s ease-in !important;
}

.btn-add:hover, .btn-edit:hover {
  background-color: #fff;
  color: #1b1b1b;
  box-shadow: 0 3px 10px var(--main-bg);
  transform: translateY(-5px);
}

.items {
  background: rgba(27,27,27,0.5);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(27,27,27,0.25);
  padding: 20px;
  font-size: 24px;
  color: var(--main-text);
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px 0;
}

.checked span {
  text-decoration: line-through;
}

.btn-del {
 background-color: var(--main-text) !important;
 border: 1px solid var(--main-text) !important;
 color: var(--main-bg) !important;
 transition: all .25s ease-in !important;
}

.btn-del:hover {
  transform: translateY(-5px);
  background-color: var(--main-bg) !important;
  color: var(--main-text) !important;
  border: 1px solid #1b1b1b !important;
  box-shadow: 0 3px 10px var(--main-bg);
}